SOAP_SERVICE/spring-soap-service/src/main/resources/wsdl/item-dtl.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://imranmadbar.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://imranmadbar.com">

	<wsdl:types>
		<xs:schema targetNamespace="http://imranmadbar.com">
			<xs:element name="ItemRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="name" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ItemResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="result" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>


	<!--Define input and output parameters -->
	<wsdl:message name="ItemRequest">
		<wsdl:part name="in" element="tns:ItemRequest" />
	</wsdl:message>
	<wsdl:message name="ItemResponse">
		<wsdl:part name="out" element="tns:ItemResponse" />
	</wsdl:message>


	<wsdl:portType name="ItemSOAPEndpoint">
		<wsdl:operation name="ItemSOAP">
			<wsdl:input message="tns:ItemRequest" />
			<wsdl:output message="tns:ItemResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!--Bind Soap operation and service -->
	<wsdl:binding name="ItemSOAPEndpointBinding"
		type="tns:ItemSOAPEndpoint">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ItemSOAP">
			<soap:operation soapAction="http://imranmadbar.com"
				style="document" />
			<wsdl:input>
				<soap:body parts="in" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="out" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<!--Define service -->
<!-- 	<wsdl:service name="ItemSOAPService">
		<wsdl:port name="ItemSOAPEndpoint"
			binding="tns:ItemSOAPEndpointBinding">
			<soap:address
				location="http://localhost:8080/imranmadbar/ws/getItems" />
		</wsdl:port>
	</wsdl:service> -->


</wsdl:definitions>